@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media print {
  body * {
    visibility: hidden;
  }
  
  .receipt-preview-container,
  .receipt-preview-container * {
    visibility: visible;
  }
  
  .receipt-preview-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 !important;
  }
  
  button {
    display: none !important;
  }

    /* Hide page title, URL, date, and page numbers */
  html, body {
    margin: 0 !important;
    padding: 0 !important;
  }
}
